# vi: ft=gitignore
/build
/git
/log
/.bundle
/.bundle.xcresult
.compile
buildServer.json

**/target/**

# Android
kls_database.db
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/captures
.externalNativeBuild
.cxx
local.properties


# Xcode
Pods
xcuserdata
DerivedData
*.trace

# macOS
Music Library.musiclibrary
Media.localized
.localized
.DS_Store
_DS_Store
*.dSYM

# Misc
/out
**/bin/**
**/obj/**
dist
build
Packages
tags
.vagrant
.lego
.scannerwork/
sonar-project.properties
*.o
*.log
*.swp
*.pid
*~
~$*
*.vrb
*.snm
*.out
*.nav
*.dtmp
*.bkp
*.nav
*.vrb
*.snm
.web-extension-id
web-ext-artifacts
.suo
peda-session*
*.core
*.orig
*.diff
*.rej
.build
