# vi: ft=gitignore
/build
/git
/log
/.bundle
/.bundle.xcresult
.compile
buildServer.json

**/target/**

# Android
/.idea
kls_database.db
.gradle


# Xcode
Pods
xcuserdata
DerivedData
*.trace

# macOS
Music Library.musiclibrary
Media.localized
.localized
.DS_Store
_DS_Store
*.dSYM

# Misc
/out
**/bin/**
**/obj/**
dist
build
Packages
tags
.vagrant
.lego
.scannerwork/
sonar-project.properties
*.o
*.log
*.swp
*.pid
*~
~$*
*.vrb
*.snm
*.out
*.nav
*.dtmp
*.bkp
*.nav
*.vrb
*.snm
.web-extension-id
web-ext-artifacts
.suo
peda-session*
*.core
*.orig
*.diff
*.rej
.build
