root = true

[*]
indent_style = space
indent_size = 4
max_line_length = 80

end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# noinspection EditorConfigKeyCorrectness
[*.{kt,kts}]
ktlint_code_style = ktlint_official
ktlint_ignore_back_ticked_identifier = true
ktlint_standard = enabled
ktlint_function_naming_ignore_when_annotated_with = Composable
